@model GameCave.Models.ViewModels.ReviewVMs.ReviewViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="main-title-container">
    <h1>Create</h1>
    <h4>A new review</h4>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label><br />
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label><Br />
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" name="gameId" value="@ViewBag.GameId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="create-button" />
            </div>
        </form>
    </div>
</div>

<div class="go-back-container">
    <a class="link-button" href="/Games/Details/@ViewBag.GameID">Back to game</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
