@model GameCave.Models.ViewModels.GameVMs.GameViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="main-title-container">
    <h1>Create a new game</h1>
</div>
<hr />
<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <div class="form-group">
            <label asp-for="Name" class="form-lbl">Name</label><br>
            <input asp-for="Name" class="form-control" /><br>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="form-lbl">Description</label><br>
            <input asp-for="Description" class="form-control" /><br>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="form-lbl">Price</label><br>
            <input asp-for="Price" class="form-control" /><br>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="form-lbl">Quantity</label><br>
            <input asp-for="Quantity" class="form-control" /><br>
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
    </div>
    <div>
        <div class="form-group">
            <label asp-for="CompanyID" class="form-lbl">Company</label><br>
            <select asp-for="CompanyID" class="form-control" asp-items="ViewBag.CompanyID">
            </select>
        </div>
        <div class="form-group">
            <label asp-for="GenreIds" class="form-lbl">Genres</label><br>
            <select asp-for="GenreIds" class="form-control" asp-items="ViewBag.GenreID">
            </select>

        </div>
        <div class="form-group">
            <label for="imageFile">Image</label><br>
            <input type="file" class="form-control" id="imageFile" name="imageFile">
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="create-button" />
        </div>
    </div>
</form>

<div class="go-back-container">
    <a class="link-button" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
